{% extends 'base.html' %} {% block content %}
<head>
  <link rel="stylesheet" href="/static/css/rental_main.css" />
</head>

<body>
  <h1>내가 등록한 책</h1>
  <hr />
  {% if not posts %}
  <h3>아직 등록한 책이 없습니다.</h3>
  {% endif %}

  <div class="body">
    {% for content in posts %}
    <div class="content">
      <h2><a href="{%url 'detail' content.id %}">{{content.title}}</a></h2>
      <div class="sub">
        {{content.author}} | {{content.publisher}}<br /><br />
        {% if content.img %}
        <a id="more"><img src="{{content.image_thumbnail.url}}" /></a>
        {% endif %}
        <br />
      </div>
    </div>
    {% endfor %}
  </div>
  <br />

  <div class="page">
    {% if posts.has_previous %}
    <a href="?page=1">1</a>
    <a href="?page={{posts.previous_page_number}}">◀</a>
    {% endif %}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">▶</a>
    <a href="?page={{posts.paginator.num_pages}}"
      >{{posts.paginator.num_pages}}</a
    >
    {% endif %}
  </div>

  {% if messages %} {% for message in messages %} {% if message.tags %}
  <script>
    alert("{{ message }}");
  </script>
  {% endif %} {% endfor %} {% endif %}
</body>
{% endblock %}
