{% extends 'base.html' %} {% block content %}
<p>{{request.user.username}}님, 좋은 하루 되세요</p>
<p>이메일 : {{request.user.email}}</p>
<br />

<h2>내가 등록한 책</h2>
<div class="row">
  <div class="col-12">
    <table>
      <hr />
      <thead>
        <tr>
          <th scope="col">제목</th>
          <th scope="col">저자</th>
          <th scope="col">출판사</th>
          <th scope="col">작성일</th>
          <th scope="col">대여여부</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr onclick="location.href='/book/detail/{{book.pk}}'">
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.publisher}}</td>
          <td>{{book.pub_date| date:"20y-m-d"}}</td>
          <td>{{book.status}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
<hr />
<h2>내가 대여한 책</h2>

{% endblock %}
