{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/rental_detail.css" />
</head>

<body>
    <div class="book_container">
       
            <h2>{{book.title}}</h2><hr>
            {% if book.img %}
            <div class="div1">
                <img src="{{book.img.url}}" alt="image" width="400" height="400">
            </div>
            {% endif %}
            <div class="div2">
                저자: {{book.author}}<br>
                출판사 : {{book.publisher}}<br>
                카테고리 : {{book.category}}<br><br>
                책 상태 : {{book.info_text}}<br><br>
              
                올린 사람 : 홍길동<br><br>
                <b>{{book.status}}</b> <br><br>
                <a href="{% url 'rental' book.id %}">
                    <button id="book_rental_btn">대여 신청</button>
                </a>
            </div>
    </div>
</body>
  
{% endblock %}