{% extends 'base.html' %} {% block content %}

<head>
  <link rel="stylesheet" href="/static/css/rental_edit.css" />
</head>

<body>
  <h1>수정하기</h1>
  <hr />
  <div class="container">
    <form action="{% url 'update' book.pk %}" method="post">
      {% csrf_token %}
      <h2>제목: <input type="text" name="title" value="{{book.title}}" /></h2>
      <h2>저자: <input type="text" name="author" value="{{book.author}}" /></h2>
      <h2>
        출판사:
        <input type="text" name="publisher" value="{{book.publisher}}" />
      </h2>
      <h2>
        출간일: <input type="text" name="pub_date" value="{{book.pub_date | date:'Y-m-d'}}" />
      </h2>
      <h2>
        대여 여부 : <input type="text" name="status" value="{{book.status}}" />
      </h2>
      {% comment %} status 관련 부분 잘 모르겠음 {% endcomment %}
      <h2>
        책 상태 :
        <textarea name="info_text" id="" cols="30" rows="10">
{{book.info_text}}</textarea>
      </h2>
      <br />

      <button type="submit" onclick="location.href='{% url 'new' %}'" id="submit">
        수정하기
      </button>
    </form>
  </div>
</body>

{% endblock %}
