{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/rental_detail.css" />
</head>

<body>
    <div class="book_container">
        <div class="book_container_content">
            <h2>{{book.title}}</h2><hr>
        
                저자: 윤성우<br>
                출판사 : 오렌지미디어<br>
                카테고리 : IT<br><br>
                상태 : 대여가능 <br><br>
                <a href="">
                    <button id="book_rental_btn">대여 신청</button>
                </a>
        </div>
</div>
</body>
  
{% endblock %}