{% extends 'base.html' %} {% block content %}
<head>
  <link rel="stylesheet" href="/static/css/rental_detail.css" />
</head>

<body>
  <div class="book_container">
    <h2>{{book.title}}</h2>
    <hr />
    {% if book.img %}
    <div class="div1">
      <img src="{{book.img.url}}" alt="image" width="400" height="400" />
    </div>
    {% endif %}
    <div class="div2">
      저자: {{book.author}}<br />
      출판사: {{book.publisher}}<br />
      발행: {{book.pub_date | date:"Y-m-d"}}<br />
      카테고리 : 
      {% if book.category %}
        <span>{{ book.category }}</span>
      {% else %}
        <span>기타</span>
      {% endif %}
      <br /><br />
      "{{book.info_text}}"<br /><br />
      작성자 : {{book.uploader}}<br />
      작성일 : {{book.upload_date | date:"Y-m-d h:m"}}<br /><br />
      <b>{{book.status}}</b> 

      {% if user.is_authenticated %}
        {% if book.status == "대여 가능"%}
          <a href="{% url 'rental' book.id %}">
            <button type="submit" id="book_rental_btn">대여 신청</button>
          </a>
        {% endif %}
      {% else %}
      <button onclick="location.href='{%url 'account:login'%}'" id="book_rental_btn">
        대여 신청
      </button>
      {% endif %}
      <br /><br />

      {% if book.uploader == user %}
        <a href="{% url 'edit' book.pk %}" id="edit_link">수정</a>
        <a href="{% url 'delete' book.pk %}" id="delete_link">삭제</a>
      {% endif %}
    </div>
  </div>
</body>

{% endblock %}
