{% extends 'base.html' %} {% block content %}

<head>
  <link rel="stylesheet" href="/static/css/rental_main.css" />
</head>

<body>
  <h1>책 대여하기{%if category %} - {{category}} {% endif %}</h1>
  <hr />
  <div class="rental_cat">
    <button
      id="cat_btn"
      type="button"
      onclick="location.href='/book/book_list'"
    >
      전체
    </button>
    <button
      id="cat_btn"
      type="button"
      onclick="location.href='/book/category/IT'"
    >
      IT
    </button>
    <button
      id="cat_btn"
      type="button"
      onclick="location.href='/book/category/society'"
    >
      사회
    </button>
    <button
      id="cat_btn"
      type="button"
      onclick="location.href='/book/category/science'"
    >
      과학
    </button>
    <button
      id="cat_btn"
      type="button"
      onclick="location.href='/book/category/art'"
    >
      예술
    </button>
    <button
      id="cat_btn"
      type="button"
      onclick="location.href='/book/category/etc'"
    >
      기타
    </button>
  </div>
  <div class="body">
    {% for content in posts %} {% if content.status == '대여 가능' %}
    <div class="content">
      <h2><a href="{%url 'detail' content.id %}">{{content.title}}</a></h2>
      <div class="sub">
        {{content.author}} | {{content.publisher}}<br /><br />
        <!-- 만약 등록한 이미지가 있다면 이미지를 보여주고, 이미지가 없다면 크롤링해 보여줍니다 -->
        {% if content.img %}
        <a id="more"><img src="{{content.image_thumbnail.url}}" /></a>
        {% else %}
        <a id="more"><img src="{{content.crawling_img_url}}" /></a>
        {% endif %}
        <br />
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
  <br />

  <div class="page">
    {% if posts.has_previous %}
    <a href="?page=1">1</a>
    <a href="?page={{posts.previous_page_number}}">◀</a>
    {% endif %}

    <span>{{posts.number}}</span>
    <span>of</span>
    <span>{{posts.paginator.num_pages}}</span>

    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}">▶</a>
    <a href="?page={{posts.paginator.num_pages}}"
      >{{posts.paginator.num_pages}}</a
    >
    {% endif %}
  </div>

  {% if messages %} {% for message in messages %} {% if message.tags %}
  <script>
    alert("{{ message }}");
  </script>
  {% endif %} {% endfor %} {% endif %}
</body>
{% endblock %}
