@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0%;
    -ms-overflow-style: none;
    /* font-family: Nanum Gothic; */
    font-family: 'GowunDodum-Regular';
}

::-webkit-scrollbar { 
    display: none;
}


a {
    text-decoration: none;
    color: black;
}


h1 {
    text-align: center;
    margin-top: 80px;
    font-family: 'GowunDodum-Regular';
  }

#container {
    font-size: 1.5vw;

    height: 65vh;
    /* width: 50vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
}

#submit_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2vw;
}
/* 
#button_submit {
    font-size: 1vw;
    border: 0;
    cursor: pointer;
    width: 15.5vw;
    height: 5vh;
    margin-top: 1vh;
    background-color: rgb(218, 68, 8);
    color: white;
} */

#button_submit {
    /* border: 2px solid rgb(167, 167, 167); */
    border:none;
    background-color: rgb(218, 125, 88);
    color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 5% 0;
    font-family: 'GowunDodum-Regular';
    cursor: pointer;
}

/* input {
    width: 15vw;
    height: 5vh;
    margin-bottom: 2vh;
    border-radius: 0;
    border-color: grey; 
    font-size: 1vw;
    margin-left: 45px;
} */

input {
    width: 15vw;
    border: none;
    background-color: rgb(236, 231, 225);
    border-radius: 20px;
    padding: 20px;
    margin: 1vh;
    font-size: 18px;
    color: rgb(0, 0, 0);
    resize: none;
    
    font-family: 'GowunDodum-Regular';
}


#bg {
    width: 100%;
    height: 14.6vh;
    margin-top: 10vh;
    background: linear-gradient(to right, rgb(218, 68, 8), rgb(255, 118, 64));
}

#password_container{
    margin-bottom: -5vh;
    display: flex;
}

#password_alert {
    width: 40px;
    height: 27px;
    margin-left: 5px;
    margin-top: 5px;
    background-image: URL(../images/mark.png);
    background-size: cover;
    cursor: pointer;
}

#password_text {
    font-size: 1vw;
    margin-left: 1vw;
    display: none;
}

hr {
    margin: 0 15%;
    margin-top: 70px;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #bbb inset;
  }