@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0%;
    -ms-overflow-style: none;
    /* font-family: Nanum Gothic; */
    font-family: 'GowunDodum-Regular';
}

::-webkit-scrollbar { 
    display: none;
}


a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

#container {
    font-size: 1.5vw;

    height: 45vh;
    /* width: 50vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button_submit {
    font-size: 1vw;
    border: 0;
    cursor: pointer;
    width: 15.5vw;
    height: 5vh;
    margin-top: 1vh;
    background-color: rgb(218, 68, 8);
    color: white;
}

input {
    width: 15vw;
    height: 5vh;
    margin-bottom: 2vh;
    border-radius: 0;
    border-color: grey; 
    font-size: 1vw;
    margin-left: 45px;
}

#bg {
    width: 100%;
    height: 14.6vh;
    margin-top: 10vh;
    background: linear-gradient(to right, rgb(218, 68, 8), rgb(255, 118, 64));
}

#password_container{
    margin-bottom: -5vh;
    display: flex;
}

#password_alert {
    width: 40px;
    height: 27px;
    margin-left: 5px;
    margin-top: 5px;
    background-image: URL(../images/mark.png);
    background-size: cover;
    cursor: pointer;
}

#password_text {
    font-size: 1vw;
    margin-left: 1vw;
    display: none;
}