<h1> 수정 페이지입니다.</h1>
<br />

<form action="{% url 'create' %}" method="post">
  {% csrf_token %}
  <p>제목: <input type="text" name="title" value="{{book.title}}" /></p>
  <p>저자: <input type="text" name="author" value="{{book.author}}" /></p>
  <p>출판사: <input type="text" name="publisher" value="{{book.publisher}}"</p>
  <p><input type="text" name="status" value="{{book.status}}" /></p>
  <textarea name="info_text" id="" cols="30" rows="10">
{{book.info_text}}</textarea
  >
  <button type="submit">수정</button>
</form>
