body {
    text-align: left;
    font-family: sans-serif;
    margin:10%;
}

.book_container {
    margin : 10px 0;
}

img {
    margin:0 3%;
    width:200px;
    height: 240px;
    float: left;
}

.book_container {
    padding: 3%;
    border:3px solid rgb(140, 138, 145);
    border-radius: 30px;
}

.book_container_content {
  margin: 0 10%;
}

#book_rental_btn {
  width: 100px;
  height: 40px;
  color: #000000;
  background-color: white;
  border: 2px solid rgb(146, 129, 177);
  border-radius: 8px;
  font-weight: bold;
}
