{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/guide.css" />
</head>

<body>
    <h1>이용안내</h1>
    <hr>
    <div id="container">
        <img src="/static/images/이용안내3.jpg"> 
        <br>  <br>  
        위 네 개의 네비게이션 바(등록, 대여, 솔루션, 빌림의 숲)를 통해 원하는 서비스를 이용하실 수 있습니다. 
        <br>
        <br>
        '등록'은 자신이 보유한 책을 기관에 맡김으로써, 대여 수익금을 얻을 수 있는 페이지입니다. 
        <br>
        <br>
        '대여'는 기관이 보유하고 있는 책을 대여할 수 있는 페이지입니다.
        <br> &nbsp; '책 대여하기'는 자신이 필요한 책을 일정한 금액을 지불하고 대여할 수 있는 서비스입니다.  
        <br> &nbsp; '책 요청하기'는 필요한 책이 등록되어있지 않을 때, 해당 책이 필요함을 관리자 쪽지로 요청할 수 있는 서비스입니다.
        <br>
        <br>
        '솔루션'은 전공책의 해답을 필요로하는 분들에게 서로간의 솔루션을 공유할 수 있는 페이지입니다. 
        <br> &nbsp; '솔루션 등록하기'는 내가 풀이한 솔루션을 올릴 수 있는 서비스입니다.  
        <br> &nbsp; '솔루션 찾기'는 다른 분들이 올려준, 내가 궁금한 문제의 솔루션을 찾아볼 수 있는 서비스입니다.  
        <br>
        <br>
        '빌림의 숲'은 저희의 서비스와 관련된 공지사항 등을 볼 수 있는 페이지입니다.
    </div>
</body>
  
{% endblock %}