{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="/static/css/notice.css" />
</head>

<body>
    <h1>공지사항</h1>
    <hr>
    <div id="container">
        <b>빌림</b>은
        <br>도서 및 솔루션 공유 플랫폼으로
        <br>2021년부터 서비스를 제공하고 있습니다.
        <br><br>
        손이 자주 가지 않는 책을 공유하고,
        <br>관심 있는 책을 빌려오고,
        <br>공부를 하며 모르는 문제에 대해 의견을 나누고,
        <br>필요한 책을 플랫폼에 요청할 수 있는 기능을 제공하고 있습니다.

        <br><br>서비스를 이용하실 때,

        <br><br>🗸 책 손상이 발생할 시 꼭 말해주세요.
        <br>🗸 빌린 책은 깨끗이 사용해주세요.
        <br>🗸 책을 등록할 때, 상태등을 양심적으로 작성해주세요.
        <br>🗸 반납 예정일을 미준수할 시 적립금이 연체 기간에 비례해 차감됩니다.
        <br><br>

        <br>변화하는 지식정보화 사회에서
        <br>빌림은 서비스 이용자들께 더욱 좋은 서비스를 제공 드리기 위해 더욱 더 노력하겠습니다.
        <br><br>
        <br>여러분의 많은 관심과 지원을 부탁드립니다.
    </div>
</body>

{% endblock %}