{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/producer.css" />
</head>

<body>
    <h1>만든이</h1>
    <hr>
    <div id="container">
        <img src="/static/images/개발자소개.jpg">
        <!-- <div id="front" class="producer">
            <br>
            풀스택 개발자 시크한 초고수 연림님
            <br>
            형식상 팀장 프론트 철현님
        </div>
        <div id="back" class="producer">
            <br>
            백엔드 초고수 지원님
            <br>
            충실한 백엔드 담당 귀여운 보성 형님
        </div> -->
    </div>
</body>
  
{% endblock %}