body {
    text-align: left;
    font-family: sans-serif;
    margin:10%;
}

.book_container {
    margin : 10px 0;
}

img {
    margin:0 3%;
    width:150px;
    height: 180px;
    float: left;
}

.book_container_content {
margin: 0 10%;
margin-bottom:30px;
}

#book_detail_btn {
width: 100px;
height: 40px;
color: #000000;
background-color: white;
border: 2px solid rgb(167, 46, 42);
border-radius: 8px;
font-weight: bold;
}