{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/solution_main.css" />
</head>
<body>
<h1 class="title1">SEARCH RESULT</h1>
{% if not data %}
<h1>NO RESULT</h1>
{% else %}
<br>
<br>

<div class="body">
    {% for content in data %}
    <div class="content">
        <a id="more" href="{%url 'solution_detail' content.id %}"><h2>{{content.title}}</h2></a>
    </div>
    <div class="sub">
            {{content.author}}<br><br>
            {% if content.img %}
            <img src="{{content.image_thumbnail.url}}">
            {% endif %}
            <br>
            {{content.content}}
        </div>
    </div>
    {% endfor %}
</div>
<br>
{% endif %}
{% endblock %}
</body>
