{% extends 'base.html' %}
{% block content %}

<head>
    <link rel="stylesheet" href="/static/css/solution_detail.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/static/js/solution_detail.js"></script>
</head>

<body>
    <div class="container">
        <h1>{{data.title}}</h1>
        <hr>
        <div class="solution_container_content">
            {% if data.img %}
            <img src="{{data.img.url}}" alt="image" width="300" height="400">
            {%endif%}<br>
            <br>{{data.content}} <br><br>
            2021-11-02 <br>
            {{data.writer}} <br><br>
            {% if user == data.writer %}
            <a id="edit" href="{% url 'solution_update' data.id %}">수정하기</a>
                <a id="edit" href="{% url 'solution_delete' data.id %}">삭제하기</a>
            {%endif%}
        </div>
        <br>
        <h2>댓글</h2>
        <hr>
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'create_comment' data.id %}" id="comment_form">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="확인" id="submit">
        </form>
        {%endif%}
        {% if not user.is_authenticated %}
        댓글은 로그인 후 작성 가능합니다.
        {%endif%}

        {% for comment in comments %}
        <div class="comment">
            <div class="first_comment">
                {{comment.writer}} : {{comment.body}}
                {% if user == comment.writer %}
                <a id="delete" href="{% url 'delete_comment' data.id comment.id%}">삭제</a>
                {%endif%}
            </div>
            {% for re_comment in re_comments %}
            {% if comment == re_comment.comment_id %}
            <div class="recomment">
                ㄴ{{re_comment.writer}} : {{re_comment.body}}
                {% if user == re_comment.writer %}
                <a id="delete" href="{% url 'delete_comment' data.id re_comment.id%}">삭제</a>
                {%endif%}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <div class="reply_container">
            <div class="reply_button">답글 달기</div>
            <div class="reply_in">
                <form id="recomment_form" action="{% url 'create_re_comment' data.id comment.id%}" method="post"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" id="submit">답글</button>
                </form>
            </div>
        </div>

        {%endif%}
        <br>
        {% endfor %}
    </div>
</body>
{% endblock %}
